<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "mx.bolsainmobiliaria"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Bolsa inmobiliaria</name>

  <description>
      Bolsa inmobiliaria 
  </description>

  <author href="https://soporte.bolsainmobiliaria.mx" email="a@bolsainmobiliaria.mx">
      :D
  </author>

</widget>